.autoSize {
	position: relative;
	width: 100%;
	height: 100%;
}

.horizontalLayout {
	display: -webkit-box;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 8px;
	margin: 0px;
	-webkit-box-sizing: border-box;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.login-hide {
	display: none;
}

.login-show {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.display-hide {
    display: none;
}

audio {
    width: 100%;
}

audio:first-child:first-child:first-child {
    background: #ffffff;
    border-radius: 0;
}

audio:first-child:first-child:first-child:nth-child(2):first-child {
    color: black;
}

audio::-webkit-media-controls-panel {
    background: white;
}

audio::-webkit-media-controls-current-time-display {
    color: black;
}

input[type="range"]::-webkit-media-slider-container {
    background: white;
}

#controlButtonsContainer {
    padding-right: 10px;
}

#controlButtonsContainer > div {
    margin: 0 5px 0 5px;
}

#userNameZone {
    position: relative;
    height: 16px;
    overflow: hidden;
}

#logoutIndicator {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#userNameZone:hover #logoutIndicator {
    transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
}

#userNameZone > div {
    background: white;
}

.isLiked {
    color: #ff8f73;
}

#moreSongButton {
    text-align: center;
    color: gray;
    cursor: pointer;
}

.interactive {
    cursor: pointer;
}

.interactive:hover{
    text-shadow: 0px 0px 1px gray;
}

form > div {
    margin: 5px;
}

label {
    color: gray;
}
.selected label{
    color: black;
    text-shadow: 0 0 1px #8d8d8d;
}