<!doctype html>
<html ng-app="fm" ng-controller="fmCtrl" ng-csp class="autoSize">
    <head>
        <meta charset="utf-8">
        <title>Douban FM</title>
        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/index.js -->
        <script type="text/javascript" src="scripts/libs/angular.js"></script>
        <script type="text/javascript" src="scripts/doubanAPI.js"></script>
        <script type="text/javascript" src="scripts/fm.js"></script>
        <!-- endbuild -->
    </head>
    <body class="autoSize" style="display: -webkit-box; -webkit-box-orient: vertical;">
        <div id="menu" style="display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: justify;">
            <h1>Douban FM</h1>
            <div ng-show="!isLoggedIn">
                <a href="" ng-click="showLoginDialog = 'show';"> Login </a>
            </div>
            <div id="userNameZone" ng-show="isLoggedIn">
                <div>{{userName}}</div>
                <div id="logoutIndicator" class="interactive" ng-click="logout()">Logout?</div>
            </div>
        </div>
        <div style="-webkit-box-flex:1; overflow: auto; -webkit-box-sizing: border-box;">
            <div style="display: -webkit-box; height: 100%; width: 100%; -webkit-box-sizing: border-box;">
                <div style="overflow: auto;">
                    <p>Channels</p>
                    <form>
                        <div ng-repeat="channel in channels" class="{{channel.isPlaying && 'selected'}}">
                            <input ng-show="hidden" type="radio" name="channelId" value={{channel.channel_id}} id="channel-{{$index}}" ng-model="$parent.currentChannelId">
                            <label for="channel-{{$index}}">
                                {{channel.name}}
                            </label>
                            <br>
                        </div>
                    </form>
                </div>
                <div style="overflow: auto">
                    <p>Songs</p>
                    <form>
                        <div ng-repeat="song in songs | filter:searchKey" class="{{song.isPlaying && 'selected'}}">
                            <input ng-show="hidden" type="radio" name="songId" value={{song.sid}} id="song-{{$index}}" ng-model="$parent.currentSongId">
                            <label for="song-{{$index}}">
                                {{song.title}} <span style="color: #c9c9c9">by</span> {{song.artist}}
                            </label>
                            <br>
                        </div>
                        <div id="moreSongButton" class="interactive" ng-click="getSongs(getCurrentChannel())">More songs</div>
                    </form>
                </div>
                <div>
                    <input type="text" autofocus="true" placeholder="search songs in the list" ng-model="searchKey">
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div style="flex: 1">
                <audio id="player" controls autoplay name="media" src={{getCurrentSong().url}}>
                </audio>
            </div>
            <div id="controlButtonsContainer" style="display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: justify;">
                <div class="interactive" ng-click="rate()" style="color: {{getCurrentSong().like && '#ff8f73'}}">❤</div>
                <div class="interactive" ng-click="playLastSong()">Last</div>
                <div class="interactive" ng-click="skip()">Next</div>
                <div class="interactive" ng-click="dislike()">Dislike</div>
            </div>
        </div>
        <div class="login-{{showLoginDialog}}">
            <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: #ffffff; opacity: 0.97; z-index: 1;" ng-click="showLoginDialog = 'hide';"></div>
            <div style="display: -webkit-box; z-index: 2; position: relative">
                <form>
                    <div>Username: </div><input autofocus="true" type="text" name="username" ng-model="username"><br>
                    <div>Password: </div><input type="password" name="password" ng-model="password"><br>
                    <input type="submit" value="Login" ng-click="login()">
                </form>
            </div>
        </div>
    </body>
</html>
